.Rproj.user
.Rhistory
.RData
.Ruserdata
covid-social-capital-draft-3.html
citations.html
county-level-data-ts.Rmd
county-level-data-ts.html
covid-class-presentation.Rmd
covid-class-presentation.html
covid-values.Rmd
create_state_level_stringency_index_data.Rmd
hospital-capacity.Rmd
hospital-capacity.nb.html
masks.Rmd
mobility-eda.html
newyork-vs-sweden.Rmd
newyork-vs-sweden.html
ow-covid.Rmd
ow-covid.nb.html
prince-edward-county.R
regression_tables.html
regression_tables_final.html
regression_tables_final_pdf.docx
regression_tables_final_pdf.html
regression_tables_final_pdf.log
regression_tables_final_pdf.pdf
regression_tables_pdf.pdf
social_capital_and_covid-19.html
social_capital_and_covid-19.log
social_capital_and_covid-19.tex
state-stringency-data.Rmd
sweden.Rmd
