2020_US_Region_Mobility_Report.csv
Culture & Stringency.xlsx
Global_Mobility_Report.csv
HHI Data.xlsx
Nursing Home_LTC COVID Deaths By State - Copy of Today.csv
Sept19 public.sav
VDH-COVID-19-PublicUseDataset-KeyMeasures-Hospitals.csv
all-states-history.csv
beds.csv
covid_state_level.csv
demographics.csv
estimated_icu_20201024_2155.csv
estimated_inpatient_all_20201024_2155.csv
estimated_inpatient_covid_20201024_2155.csv
hospitalizations.csv
kff_hospital_beds.csv
lawatlas-emergency-declarations.csv
ltc_pop-TCarilli-PC.csv
owid-covid-data.csv
search-trends-daily.csv
state_stringency.csv
us_mobility_report.csv
